

div.bolaBingo {
  width: 200px;
  height:200px;
  background-image: url(../img/fondo-verde.jpeg);
  background-size: cover;
  background-repeat: repeat;
  border-radius: 50%;
  box-shadow: -.75em -.25em 0 0 rgba(0,0,0,.1) inset,
  .2em .1em 0 0 rgba(255,255,255,.2) inset;
  animation: bolas 40s infinite linear;
}

@keyframes bolas {
  from {
    background-position: left center;
  }

  to {
    background-position: -800px center;
  }
}

.swal2-container {
    z-index: 3000 !important;
}

.swal2-popup {
    z-index: 3010 !important;
}