/* ENCABEZADO (fila B I N G O) */
  thead th {
    background-color: #0056b3 !important; /* azul */
    color: white !important;
    text-align: center;
    font-weight: bold;
    /*font-size: 50px;       Aumenta el tamaño de las letras */
    border: none !important; /*  Quita todas las líneas del encabezado */
    padding: 18px;       /* Más espacio arriba y abajo */
  }

  /* QUITAR BORDE ENTRE THEAD Y TBODY */
  thead tr {
    border-bottom: none !important;
  }

  /* BORDES DE LAS CELDAS DEL CUERPO */
  tbody td {
    border: 2px solid #000 !important;
    background-color: #e6e6e6;
    text-align: center;
    vertical-align: middle;
    padding: 6px;
    font-size: 16px;
  }

  table {
    border: 3px solid #000 !important;
    width: 100%;
  }